.setima-aula-component {

  width: 100%;
  max-width: 1200px;
  margin: 50px auto;

  &>h1 {
    margin-bottom: 32px;

  }

  &>button {
    color: black;
    padding: 4px;
    margin-rigth: 12px;
  }
}

.tittle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}